<!DOCTYPE html>
<html>
<head>
  <title>TUNR</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>TUNR</h4>
  <nav>
    | <a href="/artists">Artists</a> |
    <a href="/songs">Songs</a> |
  </nav>
    <p>this is a test paragraph before the yield</p>

  <!-- yield contents for ruby to inject  -->
  <%= yield %>

  <p>this is a test paragraph after the yield</p>
</body>
</html>
